.example-card {
  max-width: 400px;
  background-color: white;
}

p,
mat-card-title,
h4,
.read-more {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

mat-card-title {
  padding-bottom: 15px;
}

.read-more {
  font-style: bold;
  color: rgba(0, 0, 0, 1);
  padding-left: 8px;
  font-size: 16px;
  cursor: pointer;
}

.read-more:hover {
  font-style: bold;
  color: rgba(0, 0, 0, 0.7);
}

mat-card-content {
  margin-bottom: 10px;
}
